/*
#FDC116 - yellow

font-family: 'Squada One', cursive;
*/

@font-face {
  font-family: 'Proxima Nova';
  src: url('fonts/ProximaNovaSemibold.eot');
  src: url('fonts/ProximaNovaSemibold.eot') format('embedded-opentype'),
       url('fonts/ProximaNovaSemibold.woff2') format('woff2'),
       url('fonts/ProximaNovaSemibold.woff') format('woff'),
       url('fonts/ProximaNovaSemibold.ttf') format('truetype'),
       url('fonts/ProximaNovaSemibold.svg#ProximaNovaSemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('fonts/ProximaNovaExtrabold.eot');
  src: url('fonts/ProximaNovaExtrabold.eot') format('embedded-opentype'),
       url('fonts/ProximaNovaExtrabold.woff2') format('woff2'),
       url('fonts/ProximaNovaExtrabold.woff') format('woff'),
       url('fonts/ProximaNovaExtrabold.ttf') format('truetype'),
       url('fonts/ProximaNovaExtrabold.svg#MarkSimonsonProximaNovaExtrabold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('fonts/ProximaNovaBlack.eot');
  src: url('fonts/ProximaNovaBlack.eot') format('embedded-opentype'),
       url('fonts/ProximaNovaBlack.woff2') format('woff2'),
       url('fonts/ProximaNovaBlack.woff') format('woff'),
       url('fonts/ProximaNovaBlack.ttf') format('truetype'),
       url('fonts/ProximaNovaBlack.svg#MarkSimonsonProximaNovaBlack') format('svg');
  font-weight: 900;
  font-style: normal;
}

BODY {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  color: #000000;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 600;
}

IMG {
  border: 0;
}

HR {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #FDC116;
  margin: 1em 0;
  padding: 0;
}

A:link, A:visited {
  color: #FDC116;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

A:hover, A:active {
  color: #000000;
  text-decoration: none;
}

A.button:link,
A.button:visited {
  display: inline-block;
  border: 7px solid #FDC116;
  padding: 0.9em 1.1em 0.7em 1.2em;
  font-weight: 900;
  font-size: 13px;
  line-height: 1em;
  letter-spacing: 0.1em;
  color: #000000;
}

A.button:hover,
A.button:active {
  background: #FDC116;
  color: #FFFFFF;
}

H1 {
  margin: 0 0 0.25em;
  font: normal 42px/1.15em 'Squada One', cursive;
}

H2 {
  margin: 4em 0 0;
  font-weight: 900;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.3em;
}

H3 {
  margin: 0 0 0.3em;
  font: normal 54px/1em 'Squada One', cursive;
  letter-spacing: 0.03em;
}

H4 {
  margin: 0 0 0.3em;
  font-weight: 800;
  font-size: 22px;
  line-height: 1em;
  letter-spacing: 0.05em;
}

H5 {
  margin: 0 0 0.1em;
  font-weight: 800;
  font-size: 20px;
  line-height: 1em;
}

UL.slash {
  margin: 0;
  padding: 0 0 0 1em;
  list-style-type: none;
}

UL.slash LI { position: relative; }

UL.slash LI:before {
  content: "/";
  display: inline-block;
  position: absolute;
  left: -1em;
  color: #FDC116;
}

UL.double-space LI { padding-bottom: 1em; }

.site-width {
  width: 1200px;
  margin: 0 auto;
}

.site-width:after,
.cf:after {
  content: "";
  display: table;
  clear: both;
}

.yellowtext { color: #FDC116; }

#header-spacer { height: 104px; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100%;
  background-image: linear-gradient(to right, #FFFFFF, #FFFFFF 10%, #000000 10%, #000000);
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.25);
}

#header.sticky {
  background-image: linear-gradient(to right, #FFFFFF, #FFFFFF 10%, #FDC116 10%, #FDC116);
}

#header.sticky .site-width { position: relative; }

#logo {
  display: inline-block;
  background: #FFFFFF;
  padding: 18px 38px 14px 3%;
  position: relative;
  z-index: 1;
}

#header.sticky #logo { padding: 11px 68px 7px 0; }

#logo:after {
  background: inherit;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transform: skewX(-15deg) translateX(50%);
  height: 100%;
  width: 28px;
}

#header.sticky #logo:after { width: 20px; }

#logo IMG {
  height: 67px;
  width: auto;
}

#header.sticky #logo IMG { height: 41px; }

#show-menu, #menu-toggle { display: none; }

#menu UL {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  font-weight: 800;
  font-size: 1.25vw;
  line-height: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#header.sticky #menu UL { right: 0; font-size: 16px; line-height: 1em; }

#menu UL LI {
  display: inline-block;
  padding-right: 3.2vw;
  position: relative;
}

#menu UL LI.phone {
  border: 6px solid #FFFFFF;
  padding: 0.7em 1em;
  font-weight: 800;
  font-size: 1.04vw;
  line-height: 1em;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

#header.sticky #menu UL LI.phone {
  margin-left: 0;
  border: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1em;
  color: #000000;
}

#menu UL LI A {
  color: #FDC116;
  position: relative;
}

#header.sticky #menu UL LI A {
  color: #000000;
}

#menu UL LI A:before,
#menu UL LI A:after {
  content: "";
  border-bottom: 1px solid #FDC116;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  transition: all 0.5s ease;
}

#header.sticky #menu UL LI A:before,
#header.sticky #menu UL LI A:after { border-color: #000000; }

#menu UL LI A:after {
  left: auto;
  right: 0;
  bottom: -6px;
}

#menu UL > LI:hover > A:before,
#menu UL > LI:hover > A:after,
#menu UL LI A:hover:before,
#menu UL LI A:hover:after { width: 100%; }

#menu UL LI UL {
  display: none;
  position: absolute;
  top: 110%;
  left: -1em;
  transform: none;
  padding: 0.5em 0 1em;
  font-size: 80%;
  background: #000000;
}

#header.sticky #menu UL LI UL { background: #FDC116; font-size: 80%; }

#menu UL LI:hover UL { display: block; }

#menu UL LI UL LI {
  display: block;
  padding: 0.5em 1em;
}

#home-banner {
  height: 684px;
  position: relative;
  overflow: hidden;
}

#home-banner:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/home-banner-grid.png);
}

#home-banner VIDEO {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#home-banner .site-width {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 5;
  color: #FDC116;
  font-weight: 900;
  font-size: 1.185vw;
  line-height: 1em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  text-align: center;
}

#home-banner .site-width .left {
  display: inline-block;
  width: 48vw;
}

#home-banner #logo-round {
  width: 260px;
  height: auto;
}

#home-banner H1, #home-banner H2 {
  margin: 0 0 0.4em;
  color: #FFFFFF;
  font-family: 'Squada One', cursive;
  font-weight: normal;
  font-size: 500%;
  line-height: 1em;
  letter-spacing: 0.03em;
}

#home-banner H2 {
  margin: 1.25em 0 2em;
  font-size: 165%;
  line-height: 1em;
}

#home-banner H2 SPAN { color: #FDC116; }

#home-banner A:link,
#home-banner A:visited {
  display: inline-block;
  border: 7px solid #FDC116;
  padding: 0.8em 1.3em 0.8em 1.45em;
  background: #000000;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 94%;
  line-height: 1em;
  letter-spacing: 0.15em;
}

#home-banner A:hover,
#home-banner A:active {
  background: #FDC116;
  color: #000000;
}

#home-about {
  padding: 2.1em 0;
  background: #FDC116;
  color: #000000;
  font-family: 'Squada One', cursive;
  font-weight: normal;
  font-size: 40px;
  line-height: 1.25em;
}

#home-about .site-width { position: relative; z-index: 1; }

#home-about .site-width .text {
  display: inline-block;
  width: 42%;
}

#home-about A:link,
#home-about A:visited {
  margin-top: 3.5em;
  display: inline-block;
  color: #000000;
  font-family: 'Proxima Nova';
  font-weight: 900;
  font-size: 35%;
  line-height: 1em;
  letter-spacing: 0.3em;
}

#home-about A:hover,
#home-about A:active {
  color: #FFFFFF;
}

#home-about A:after {
  font-family: "Rivcrete";
  content: "\e913";
  font-size: 90%;
  position: relative;
  top: 0.045em;
}

#home-about .image {
  position: absolute;
  top: -0.25em;
  right: 0;
  width: 41.7vw;
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.35);
  background: url(../images/home-about.jpg) center center no-repeat;
  background-size: cover;
}

#home-about .image:before {
  content: "";
  position: absolute;
  right: -0.5em;
  bottom: 0;
  transform: translateY(50%);
  z-index: -1;
  width: 72%;
  height: 1.25em;
  background: #000000;
}

#home-about .image:after {
  content: "";
  display: block;
  padding-top: 71.5%;
}

.home-products {
  padding: 90px 0;
  position: relative;
}

.home-products .slides {
  display: inline-block;
  vertical-align: top;
  width: 48%;
}

.home-products .cycle-slideshow {
  margin-top: 3em;
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.35);
}

.home-products .cycle-slideshow IMG {
  max-width: 100%;
  height: auto;
}

#p-pager {
  position: absolute;
  bottom: -2.4em;
  left: -0.75em;
  background: #000000;
  padding: 1.2em 1.5em 0.9em;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0;
}

#p-pager A:link,
#p-pager A:visited {
  color: #FFFFFF;
  margin: 0 0.4em;
}

#p-pager A.cycle-pager-active,
#p-pager A:hover,
#p-pager A:active {
  color: #FDC116;
}

.home-products .text {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  margin-left: 3%;
  text-align: center;
  font-weight: 900;
  font-size: 16px;
  line-height: 1em;
  letter-spacing: 0.2em;
}

.home-products .blog-index-post {
  width: 330px;
  margin: 26px auto 0;
  background: #FDC116;
  box-sizing: border-box;
  padding: 32px 29px 105px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4em;
  letter-spacing: 0;
  text-align: left;
  position: relative;
}

.home-products .blog-index-post H3 {
  margin: 0 0 0.5em;
  font-size: 166.66%;
  line-height: 1em;
  text-transform: uppercase;
}

.home-products .blog-index-post H4 {
  margin: 0 0 0.5em;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 77.77%;
  line-height: 1em;
}

.home-products .blog-index-post A:link,
.home-products .blog-index-post A:visited {
  border-color: #000000;
  padding: 0.6em 1.9em 0.5em 2em;
  text-transform: uppercase;
  font-size: 77.77%;
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.home-products .blog-index-post A:hover,
.home-products .blog-index-post A:active {
  background: #000000;
}

.home-products .text .button {
  border-color: #000000;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.home-products .text .button:hover { background: #000000; }

#testimonials {
  padding: 3.5em 0 4.5em;
  background: #000000;
  color: #FFFFFF;
  font: normal 30px/1.6em 'Squada One', cursive;
  letter-spacing: 0.05em;
  text-align: center;
}

#testimonials .cycle-slide {
  width: 78%;
  left: 50% !important;
  transform: translateX(-50%);
}

#testimonials .attr {
  margin-top: 2em;
  font: 600 15px/1em 'Proxima Nova';
}

#t-pager {
  position: absolute;
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%);
  font: 600 4px/1em 'Proxima Nova';
}

#t-pager A:link,
#t-pager A:visited {
  display: inline-block;
  width: 4px;
  height: 4px;
  border: 3px solid #FDC116;
  border-radius: 50%;
  margin: 0 1.5em;
}

#t-pager A.cycle-pager-active,
#t-pager A:hover,
#t-pager A:active {
  background: #FDC116;
}

.order-band {
  background: #FDC116;
  text-align: center;
  padding: 3.3em 0;
  font-weight: 900;
  font-size: 20px;
  line-height: 1em;
  letter-spacing: 0.1em;
}

.order-band H1 { font-size: 60px; }

.order-band.white { background: #FFFFFF; }

.order-band A:link,
.order-band A:visited {
  color: #000000;
  border: 7px solid #000000;
  display: inline-block;
  padding: 1em 1.2em 0.8em;
}

.order-band A:hover,
.order-band A:active {
  color: #FDC116;
  background: #000000;
}

#footer-images > DIV {
  float: left;
  width: 33.33%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#footer-images > DIV:after {
  content: "";
  display: block;
  padding-top: 68.39%;
}

#prefooter {
  text-align: center;
  padding: 3em 0;
}

#prefooter IMG {
  width: 116px;
  height: auto;
}

#footer-menu {
  margin: 3em 0 0;
  padding: 0;
  list-style-type: none;
  font-weight: 900;
  font-size: 16px;
  line-height: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#footer-menu LI {
  display: inline-block;
  padding: 0 2em;
  position: relative;
}

#footer-menu LI:before {
  content: "/";
  position: absolute;
  left: 0;
  transform: translateX(-75%);
}

#footer-menu LI:first-of-type:before { content: ""; }

#footer-menu LI A:link,
#footer-menu LI A:visited {
  color: #000000;
}

#footer-menu LI A:hover,
#footer-menu LI A:active {
  color: #FDC116;
}

#footer {
  padding: 2.3em 0;
  background: #000000;
  color: #FDC116;
  font-weight: 800;
  font-size: 16px;
  line-height: 1em;
  letter-spacing: 0.1em;
  text-align: center;
}

#footer .site-width { position: relative; }

#footer SPAN {
  display: inline-block;
  margin: 0 3%;
}

#footer A { color: #FDC116; }

#copyright {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-weight: 600;
  font-size: 11px;
  line-height: 1em;
  letter-spacing: 0;
  color: #808285;
}

.page-header {
  padding: 3.8em 0;
  background: #FDC116;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6em;
  position: relative;
}

.page-header .site-width {
  min-height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-header.noimage .site-width { min-height: 0; }

.page-header .text { width: 44%; }
.page-header.noimage .text { width: 100%; }

.page-header H1 {
  margin: 0 0 0.25em;
  font: normal 42px/1.15em 'Squada One', cursive;
}

.page-header.decorative-header H1 { font-size: 54px; letter-spacing: 0.05em; }

.page-header H2 {
  margin: 4em 0 0;
  font-weight: 900;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.3em;
}

.page-header.noimage H2 { margin: 2em 0 0; }

.page-header H2:after {
  font-family: "Rivcrete";
  content: "\e913";
  font-size: 90%;
  display: inline-block;
  transform: rotate(90deg);
  position: relative;
  top: 2px;
}

.page-header.decorative-header H2 { font-weight: 800; font-size: 16px; letter-spacing: 0.05em; }
.page-header.decorative-header H2:after { content: ""; }

.page-header H3 {
  margin: 0.7em 0 0;
  font: 800 30px/1em 'Proxima Nova', cursive;
  letter-spacing: 0.05em;
}
.page-header H3 A { color: #000000; }

.page-header .image {
  position: absolute;
  top: 0;
  right: 0;
  width: 50.69vw;
  height: calc(100% + 35px);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header.noimage .image {
  width: 85%;
  height: calc(100% + 30px);
}

.page-header .image:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -30px;
  z-index: -1;
  width: 69%;
  height: 30px;
  background: #000000;
}

.page-header.noimage .image:before {
  z-index: 1;
  bottom: 15px;
  width: 100%;
}

.page-header.decorative-header .image {
  height: auto;
  background-position: top center;
  background-size: contain;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.2em;
  letter-spacing: 0.2em;
}

.page-header.decorative-header .image:before { display: none; }

.page-header.decorative-header .image DIV { margin-top: 50%; }

.page-header.decorative-header .image .fg { font-size: 80%; }
.page-header.decorative-header .image .fg-chevron-right {
  transform: rotate(90deg);
  display: inline-block;
  position: relative;
  top: 1px;
}

.page-header.decorative-header .image A:link,
.page-header.decorative-header .image A:visited {
  color: #000000;
}

.page-header.decorative-header .image A:hover,
.page-header.decorative-header .image A:active {
  color: #FFFFFF;
}

.products {
  padding: 6.5em 0 5em;
  font-size: 20px;
  line-height: 1.5em;
}

.products .left {
  float: left;
  width: 45%;
  margin-bottom: 3em;
}

.products .right {
  float: right;
  width: 43.58%;
  margin-bottom: 3em;
}

.products .shift { transform: translateY(-5em); }

.products .double-space { line-height: 1.2em; }

.products IMG {
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.35);
  margin: 0 0 2em;
}

.company {
  padding: 6.5em 0 2em;
  font-size: 18px;
  line-height: 1.8em;
}

.company .left {
  float: left;
  width: 54%;
}

.company IMG {
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.35);
}

.company .right {
  float: right;
  width: 23.33%;
  margin-right: 10%;
  font-size: 16px;
  line-height: 1.5em;
  position: relative;
  top: 3em;
}

.company .right HR { margin: 3em 0; }

.company .right A:link,
.company .right A:visited {
  color: #000000;
  text-decoration: underline;
}

.company .right A:hover,
.company .right A:active {
  color: #FDC116;
}

.order {
  padding: 6.5em 0;
  font-size: 18px;
  line-height: 1.4em;
}

.order .left {
  float: left;
  width: 36.25%;
}

.order H2 {
  margin: 0 0 1em 1em;
  font: normal 35px/1em 'Squada One', cursive;
  letter-spacing: 0.03em;
}

.order H3 {
  margin: 0 0 1.5em;
  font: 800 54px/1em 'Proxima Nova';
}

.order H3 A { color: #000000; }

.order OL {
  margin: 1em 0;
  padding: 0 0 0 1.2em;
  list-style-type: none; 
  counter-reset: item;
}

.order OL LI { position: relative; padding-bottom: 0.8em; }

.order OL LI:before {
  content: counter(item) ". ";
  counter-increment: item;
  display: inline-block;
  position: absolute;
  left: -1.2em;
  color: #FDC116;
}

.order .button { margin-top: 4em; }

.order .right {
  float: right;
  width: 49.58%;
  position: relative;
  top: 3em;
}

#calculator {
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.35);
  background: #EBEBEB;
  box-sizing: border-box;
  padding: 45px 35px;
}

.order INPUT[type="tel"] {
  padding: 0.3em 1em;
  color: #FDC116;
  font-size: 25px;
  line-height: 1em;
  letter-spacing: 0.1em;
  margin-bottom: 1.2em;
}

.order INPUT::-webkit-input-placeholder { color: #FDC116; opacity: 1; }
.order INPUT:-moz-placeholder { color: #FDC116; opacity: 1; } /* FF 4-18 */
.order INPUT::-moz-placeholder { color: #FDC116; opacity: 1; } /* FF 19+ */
.order INPUT:-ms-input-placeholder { color: #FDC116; opacity: 1; } /* IE 10+ */

.order INPUT[type="submit"] {
  margin-top: 1em;
  font-size: 13px;
  line-height: 1em;
}

.order LABEL {
  display: block;
  margin: 1.5em 0 0.5em;
  font-weight: 800;
  font-size: 25px;
  text-align: center;
}

.order #total { margin: 0; }

#contact {
  padding: 100px 0;
  background: #FDC116;
  font-weight: 800;
  font-size: 18px;
  line-height: 1em;
  text-align: center;
}

#contact > DIV {
  width: 65vw;
  margin: 0 auto;
}

#contact H5 { margin-bottom: 3em; }
#contact H5 A { color: #000000; }

INPUT[type="text"],
INPUT[type="number"],
INPUT[type="email"],
INPUT[type="tel"],
TEXTAREA {
  outline: 0;
  border: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0.8em 1.6em;
  background: #000000;
  color: #FFFFFF;
  font: 800 18px/1em 'Proxima Nova';
  -webkit-appearance: none; /* I prefer my styles, Steve Jobs */
  -moz-appearance: none;
  transition: all 0.2s;
  overflow: auto; /* Good ol' IE */
  margin-bottom: 2.68%;
}

TEXTAREA {
  padding: 1.6em;
  height: 15.5em;
}

INPUT::-webkit-input-placeholder { color: #FFFFFF; opacity: 1; }
INPUT:-moz-placeholder { color: #FFFFFF; opacity: 1; } /* FF 4-18 */
INPUT::-moz-placeholder { color: #FFFFFF; opacity: 1; } /* FF 19+ */
INPUT:-ms-input-placeholder { color: #FFFFFF; opacity: 1; } /* IE 10+ */
TEXTAREA::-webkit-input-placeholder { color: #FFFFFF; opacity: 1; }
TEXTAREA:-moz-placeholder { color: #FFFFFF; opacity: 1; } /* FF 4-18 */
TEXTAREA::-moz-placeholder { color: #FFFFFF; opacity: 1; } /* FF 19+ */
TEXTAREA:-ms-input-placeholder { color: #FFFFFF; opacity: 1; } /* IE 10+ */

INPUT:focus::-webkit-input-placeholder { color: transparent; }
INPUT:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
INPUT:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
INPUT:focus:-ms-input-placeholder { color: transparent; } /* IE 10+ */
TEXTAREA:focus::-webkit-input-placeholder { color: transparent; }
TEXTAREA:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
TEXTAREA:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
TEXTAREA:focus:-ms-input-placeholder { color: transparent; } /* IE 10+ */

INPUT[type="submit"] {
  outline: none;
  border: 7px solid #000000;
  box-sizing: border-box;
  padding: 0.9em 1.1em 0.7em 1.2em;
  background: transparent;
  color: #000000;
  font: 900 14px/1em 'Proxima Nova';
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: all 0.2s;
  -webkit-appearance: none; /* I prefer my styles, Steve Jobs */
  -moz-appearance: none;
}

INPUT[type="submit"]:hover {
  background: #000000;
  color: #FFFFFF;
}

.radio { text-align: left; padding: 1em 0 2.5em 5%; }

.radio LABEL, LABEL[for="send-updates"] {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 1.2em;
  margin-left: 1em;
}

.radio LABEL:after, LABEL[for="send-updates"]:before {
  content: "";
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: inset 0 0 0 5px #000000;
  border-radius: 50%;
  background: #000000;
}

INPUT[type="radio"], INPUT[type="checkbox"] { display: none; }

INPUT[type="radio"]:checked + LABEL:after,
INPUT[type="checkbox"]:checked + LABEL[for="send-updates"]:before { background: #FDC116; }

#contact #name,
#contact #email {
  float: left;
  width: 56.92%;
}

#contact #company,
#contact #phone {
  float: right;
  width: 40.4%;
}

#form-messages {
  min-height: 1.2em;
  line-height: 1.2em;
  color: #B7262F;
  font-weight: bold;
  margin-bottom: 2em;
}

.decorative {
  padding: 3em 0 0;
  font: normal 40px/1em 'Squada One', cursive;
}

.decorative > DIV {
  display: inline-block;
  vertical-align: top;
  width: 49.5%;
  margin-bottom: 3em;
}

.decorative > DIV IMG {
  max-width: 100%;
  height: auto;
  margin-top: 1em;
}

.portfolios { counter-reset: port-count; padding-bottom: 6em; }

.portfolio {
  display: flex;
  justify-content: flex-end;
  position: relative;
  background: url(../images/divider.png) repeat-x;
}

.portfolio:nth-child(even) { justify-content: flex-start; }

.portfolio .port-title {
  position: absolute;
  z-index: 200;
  top: 200px;
  left: 0;
  width: 100%;
  background: linear-gradient(to right, #FDC116, #FDC116 51%, transparent 51%);
  padding: 25px 0 40px;
}

.portfolio:nth-child(even) .port-title {
  background: linear-gradient(to left, #FDC116, #FDC116 51%, transparent 51%);
}

.portfolio .port-title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -18px;
  height: 36px;
  width: 45%;
  background: #000000;
}

.portfolio:nth-child(even) .port-title:after { left: 55%; }

.portfolio .port-title H3 {
  display: inline-block;
  margin: 0;
  position: relative;
  left: calc((100% - 1200px) / 2);
  font-size: 54px;
  line-height: 1em;
  text-transform: uppercase;
}

.portfolio:nth-child(even) .port-title H3,
.portfolio:nth-child(even) .port-title H4 {
  left: calc((100% + 1200px) / 2);
  transform: translateX(-100%);
}

.portfolio .port-title H4 {
  display: inline-block;
  margin: 0;
  position: absolute;
  z-index: 10;
  left: calc((100% - 1200px) / 2);
  bottom: -0.6em;
  color: #FDC116;
  font-size: 12px;
  line-height: 1em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  white-space: nowrap;
}

.portfolio .port-title H4:before { content: "/ / / "; letter-spacing: 0.1em; }
.portfolio:nth-child(even) .port-title H4:before { content: ""; }
.portfolio:nth-child(even) .port-title H4:after { content: " / / /"; letter-spacing: 0.1em; }

.portfolio .port-text {
  position: absolute;
  top: 95px;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
}

.portfolio .port-text:before {
  counter-increment: port-count;
  content: "#" counter(port-count);
  display: block;
  color: rgba(0,0,0,0.15);
  font-weight: 900;
  font-size: 142px;
  line-height: 1em;
  color: rgba(0,0,0,0.15);
  padding-bottom: 1.2em;
}

.portfolio:nth-child(even) .port-text {
  text-align: right;
}

.portfolio .port-text .text {
  border-left: 10px solid #000000;
  font-size: 18px;
  line-height: 1.4em;
  box-sizing: border-box;
  padding: 0 60% 0 18px;
}

.portfolio:nth-child(even) .port-text .text {
  border-left: 0;
  border-right: 10px solid #000000;
  padding: 0 18px 0 60%;
}

.portfolio .port-image {
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.35);
  width: 52.5vw;
  height: calc(52.5vw * 0.6693);
  margin: 95px 0 45px;
}

.portfolio:nth-child(even) .port-image { text-align: right; }

.portfolio .port-image .cycle-slide {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.portfolio .port-image .cycle-pager {
  display: inline-block;
  margin: 0 0 0 5%;
  width: 82%;
  background: #000000;
  box-sizing: border-box;
  padding: 17px 37px;
  text-align: right;
  font-weight: 900;
  font-size: 18px;
  line-height: 1em;
}

.portfolio:nth-child(even) .port-image .cycle-pager {
  margin: 0 5% 0 0;
  text-align: left;
}

.portfolio .port-image .cycle-pager A:link {
  margin: 0 6px;
  color: #FFFFFF;
}

.portfolio .port-image .cycle-pager A:hover,
.portfolio .port-image .cycle-pager A.cycle-pager-active {
  color: #FDC116;
}

.employment {
  padding: 6.5em 0 4em;
  font-size: 20px;
  line-height: 1.4em;
}

.employment H2 {
  margin: 1em 0 0;
  font: 400 30px/1em 'Squada One', cursive;
  letter-spacing: 0;
  text-transform: uppercase;
  display: flex;
}

.employment H2:after {
  content: "";
  flex-grow: 100;
  background: url(../images/yellow-slash.png) repeat-x left center;
  margin-left: 0.5em;
}

.employment .position {
  margin-top: 5px;
  padding: 30px 0;
  font-size: 16px;
  line-height: 1.4em;
  border-bottom: 3px solid #E1E1E1;
  position: relative;
}

.employment .position H3 {
  margin: 0;
  font: 900 24px/1em 'Proxima Nova';
  letter-spacing: 0.1em;
  text-transform: uppercase;
  width: 53%;
}

.employment .position LABEL {
  color: #FDC116;
  font-family: 'Proxima Nova';
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
}

.employment .position INPUT[type="checkbox"] + LABEL:before { content: "See "; }
.employment .position INPUT[type="checkbox"]:checked + LABEL:before { content: "Hide "; }

.employment .position INPUT[type="checkbox"] + LABEL:after {
  content: "\0203a";
  display: inline-block;
  margin-left: 0.25em;
  font-size: 1.3em;
}
.employment .position INPUT[type="checkbox"]:checked + LABEL:after {
  transform: rotate(90deg) translateX(0.2em);
}

.employment .position INPUT[type="checkbox"] + LABEL ~ .details {
  overflow: hidden;
  transition: all 0.4s;
  height: 0;
}

.employment .position INPUT[type="checkbox"]:checked + LABEL ~ .details {
  margin-top: 1.5em;
  height: auto;
}

.employment .position .details UL { margin: 0 0 0 0.7em; padding: 0 0 0 0.7em; }

.employment .position .links {
  position: absolute;
  top: 30px;
  right: 0;
  width: 47%;
  text-align: right;
}

.employment .position .button {
  min-width: 270px;
  box-sizing: border-box;
  margin-left: 1em;
  border-color: #000000;
  padding: 0.7em 1em 0.5em 1.1em;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-align: center;
}

.employment .position .button:first-of-type { margin-left: 0; }

.employment .position .button:hover {
  background: #000000;
}

.employment .footer {
  margin: 3em auto 0;
  width: 78%;
  text-align: center;
  color: #5C5C5C;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.4em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.employment .footer H4 {
  margin: 0 0 0.75em;
  font-weight: 800;
  font-size: 12px;
  line-height: 1em;
  letter-spacing: 0.4em;
}

.employment .footer A:link, .employment .footer A:visited, .employment .footer SPAN {
  color: #000000;
}

.employment .footer A:hover, .employment .footer A:active {
  color: #FDC116;
}

#employment-footer {
  background: url(../images/employment-footer.jpg) no-repeat center;
  background-size: cover;
}

#employment-footer:before {
  content: "";
  display: block;
  padding-top: 25%;
}

.blog-index { width: 1100px; padding: 68px 0; }

.blog-index .pagination {
  text-align: right;
  font-weight: 900;
  font-size: 18px;
  line-height: 1em;
}

.blog-index .pagination SPAN, .blog-index .pagination A { margin-left: 0.3em; color: #FDC116; }

.blog-index .pagination A:link, .blog-index .pagination A:visited { color: #000000; }
.blog-index .pagination A:hover, .blog-index .pagination A:active { color: #FDC116; }

.blog-index .blog-index-posts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0;
}

.blog-index .blog-index-posts .blog-index-post {
  width: 30%;
  margin: 26px 0;
  background: #FDC116;
  box-sizing: border-box;
  padding: 32px 29px 105px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4em;
  position: relative;
}

.blog-index .blog-index-posts .blog-index-post H3 {
  margin: 0 0 0.5em;
  font-size: 166.66%;
  line-height: 1em;
  letter-spacing: 0;
  text-transform: uppercase;
}

.blog-index .blog-index-posts .blog-index-post H4 {
  margin: 0 0 0.5em;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 77.77%;
  line-height: 1em;
}

.blog-index .blog-index-posts .blog-index-post A:link,
.blog-index .blog-index-posts .blog-index-post A:visited {
  border-color: #000000;
  padding: 0.6em 1.9em 0.5em 2em;
  text-transform: uppercase;
  font-size: 77.77%;
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.blog-index .blog-index-posts .blog-index-post A:hover,
.blog-index .blog-index-posts .blog-index-post A:active {
  background: #000000;
}

.blog-single-header { padding: 2.8em 0; }

.blog-single-title { margin: 0; line-height: 1em; text-transform: uppercase; }

.blog-single-date { margin: 0 !important; color: #FFFFFF; }
.blog-single-date:after { content: "" !important; }

.blog-single-post {
  display: flex;
  justify-content: space-between;
  padding: 3.5em 0;
  font-size: 20px;
  line-height: 1.4em;
}

.blog-single-sidebar { width: 36%; }

.blog-single-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 1.5em;
}

.blog-single-image:before {
  display: block;
  content: "";
  padding-top: 68%;
}

.blog-single-sidebar H3 {
  margin: 0 0 0.5em;
  font-size: 24px;
  text-transform: uppercase;
}

.blog-single-sidebar A:link, .blog-single-sidebar A:visited {
  display: inline-block;
  margin-bottom: 0.25em;
  color: #FDC116;
}

.blog-single-sidebar A:hover, .blog-single-sidebar A:active {
  color: #000000;
}

.blog-single-text { width: 60%; margin-left: auto; }

.blog-single-text P { margin: 0 0 1.5em; }

.blog-single-text UL { margin: 0 0 0 0.7em; padding: 0 0 0 0.7em; transform: translateY(-1.5em); }


@media only screen and (min-width: 3000px) {
  #header.sticky {
    background-image: linear-gradient(to right, #FFFFFF, #FFFFFF 37%, #FDC116 37%, #FDC116);
  }
}

@media only screen and (min-width: 2000px) and (max-width: 2999px) {
  #header.sticky {
    background-image: linear-gradient(to right, #FFFFFF, #FFFFFF 30%, #FDC116 30%, #FDC116);
  }

  #home-banner .site-width { font-size: 22px; }
  #home-banner .site-width .left { width: 72%; }
}

@media only screen and (min-width: 1600px) {
  #menu UL { font-size: 18px; }
  #menu UL LI { padding-right: 50px; }

  #home-about { padding: 1.3em 0; font-size: 44px; }
  #home-about .site-width .text { width: 45%; }
  #home-about .image { width: 50%; }
}

@media only screen and (min-width: 1500px) and (max-width: 1999px) {
  #header.sticky {
    background-image: linear-gradient(to right, #FFFFFF, #FFFFFF 20%, #FDC116 20%, #FDC116);
  }
}

@media only screen and (max-width: 1300px) {
  #menu UL LI { padding-right: 3vw; }

  #menu UL LI.phone { margin-left: 0; }

  #home-about .image { right: 2%; }
}

@media only screen and (max-width: 1215px) {
  .site-width { width: 96%; }

  #logo { padding-left: 2%; }
  #menu UL { right: 2%; }

  #home-about { font-size: 40px; }
  #home-about .site-width .text { width: 48%; }
  #home-about .image { right: 2%; width: 46%; }

  .home-products .text { transform: translateY(-50%); }
  
  .portfolio .port-title H3, .portfolio .port-title H4 { left: 2%; }
  .portfolio:nth-child(even) .port-title H3, .portfolio:nth-child(even) .port-title H4 { left: 98%; }
  .portfolio .port-title H4 { font-size: 0.98vw; }

  .portfolio .port-text { width: 96%; }

  .portfolio .port-text:before { padding-bottom: 14vw; }

  .portfolio .port-text .text { font-size: 1.48vw; padding: 0 54vw 0 18px; }
  .portfolio:nth-child(even) .port-text .text { padding: 0 18px 0 54vw; }

  .employment .position .button { min-width: 0; }
}

@media only screen and (max-width: 1100px) {
  #menu UL LI { padding-right: 2vw; }

  .home-products .text { right: 9%; }

  .company .right { width: 24%; }
  
  .portfolio .port-title { padding: 2.27vw 0 3.63vw; }
  .portfolio .port-title H3 { font-size: 4.8vw; }

  .portfolio .port-text:before { padding-bottom: 12vw; }
}

@media only screen and (max-width: 1050px) {
  #header.sticky #logo { padding: 11px 28px 7px 0; }

  #menu UL LI.phone { font-size: 14px; line-height: 1em; }

  #footer-menu LI { padding: 0 1em; }

  .employment .position .button { font-size: 1.333vw; }
}

@media only screen and (max-width: 1000px) {
  #header-spacer { height: 87px; }

  #logo IMG { height: 50px; }
  
  #menu UL { font-size: 1.3vw; }
  
  #header.sticky #menu UL,
  #header.sticky #menu UL LI.phone { font-size: 1.55vw; }
  #header.sticky #menu UL LI { padding-right: 2vw; }

  #home-banner .site-width { font-size: 1.5vw; }
  #home-banner .site-width .left { width: 61vw; }

  /*#home-banner A:link, #home-banner A:visited { margin-top: 2.5em; }*/

  #home-about { padding: 1.5em 0 1em; }

  #copyright { position: static; transform: none; margin-top: 2em; }

  .products .shift { transform: none; }

  .company .right { width: 30%; margin-right: 3%; }

  .order LABEL { font-size: 2.5vw; }

  #contact > DIV { width: 80%; }
}

@media only screen and (max-width: 900px) {
  #header-spacer { height: 64px; }

  #header.sticky .site-width { width: 100%; }
  
  #header.sticky #logo,
  #logo { padding: 11px 28px 7px 2%; }
  #logo:after { width: 20px; }
  #logo IMG { height: 41px; }

  #header.sticky #menu UL { right: 2%; }

  #menu UL { font-size: 1.36vw; }

  #menu UL LI { padding-right: 2vw; }

  #menu UL LI.phone { border-width: 4px; font-size: 13px; line-height: 1em; }

  #header.sticky #menu UL,
  #header.sticky #menu UL LI.phone { font-size: 1.5vw; }
  
  #home-about { font-size: 4.2vw; }
  #home-about .image { top: 0; }
  #home-about .image:before { height: 1em; }

  .company .right { width: 35%; margin-right: 0; }

  .decorative > DIV { width: 45%; margin-right: 8%; }
  .decorative > DIV:nth-of-type(even) { margin-right: 0; }

  .blog-index .blog-index-posts .blog-index-post { width: 46.5%; }
}

@media only screen and (max-width: 800px) {
  /* Small computer or landscape tablet */
  #header-spacer { height: 104px; }

  #logo { padding: 18px 38px 14px 2%; }
  #logo:after { width: 28px; }
  #logo IMG { height: 67px; }

  #menu { display: none; }

  #menu-toggle {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 4%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    width: 42px;
    height: 42px;
    font-size: 42px;
  }

  #menu-toggle:after {
    font-family: "Rivcrete";
    content: "\e911";
    color: #FFFFFF;
    font-size: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  #show-menu:checked + #menu-toggle:after {
    content: "\e912";
  }

  #show-menu:checked + #menu-toggle + #menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #000000;
  }

  #menu UL {
    position: static;
    transform: none;
    text-align: center;
    font-size: 6vw;
    line-height: 0.9em;
    padding-top: 0.7em;
  }

  #header.sticky #menu UL { font-size: 6vw; }

  #menu UL LI {
    display: block;
    padding: 0;
  }

  #menu UL LI.phone,
  #header.sticky #menu UL LI.phone {
    margin-left: 0;
    border: 0;
    padding: 1em 0;
    font-weight: inherit;
    font-size: inherit;
    color: #FFFFFF;
  }
  
  #header.sticky #menu UL LI A,
  #menu UL LI A { color: #FFFFFF; padding: 0.4em 0; display: inline-block; }
  
  #header.sticky #menu UL LI A:before,
  #header.sticky #menu UL LI A:after,
  #menu UL LI A:before,
  #menu UL LI A:after { border-color: #FFFFFF; bottom: 0; }
  
  #header.sticky #menu UL LI A:after,
  #menu UL LI A:after { bottom: -1px; }

  #menu UL LI UL { display: block; position: static; padding-top: 0; }

  #home-banner { height: 500px; }
  #home-banner #logo-round { width: 210px; }

  .home-products .text { font-size: 40px; }

  .home-products .text A:link,
  .home-products .text A:visited { margin-top: 2em; font-size: 13px; }

  #footer-menu LI { padding: 0 1em; }

  .page-header.decorative-header .site-width { min-height: 0; }
  .page-header.decorative-header .text { width: 100%; }

  .page-header.decorative-header .image {
    position: static;
    width: 100%;
    height: auto;
    margin-top: 3em;
  }

  .order H2 { font-size: 4.4vw; }
  .order H3 { font-size: 6vw; }

  .order .left { width: 45%; }
  
  .order LABEL { font-size: 2.3vw; }

  #contact > DIV { width: 96%; }

  .portfolio { flex-direction: column; }

  .portfolio .port-title,
  .portfolio:nth-child(even) .port-title {
    position: relative;
    top: 0;
    margin-top: 7vw;
    background: linear-gradient(to right, #FDC116, #FDC116 70%, transparent 70%);
  }

  .portfolio .port-title:after { width: 66%; }
  .portfolio:nth-child(even) .port-title:after { left: 0; }

  .portfolio .port-title H3 { font-size: 6.5vw; }
  .portfolio .port-title H4 { font-size: 1.35vw; }

  .portfolio:nth-child(even) .port-title H3,
  .portfolio:nth-child(even) .port-title H4 {
    left: 2%;
    transform: none;
  }

  .portfolio .port-text {
    position: relative;
    top: 0;
    margin-top: 4.4vw;
  }

  .portfolio .port-text:before {
    position: absolute;
    top: -17vw;
    right: 0;
    padding-bottom: 0;
  }

  .portfolio .port-text .text,
  .portfolio:nth-child(even) .port-text .text {
    border-left: 10px solid #000000;
    border-right: 0;
    padding: 0 0 0 18px;
    text-align: left;
    font-size: 18px;
  }

  .portfolio .port-image {
    width: 96%;
    height: calc(96vw * 0.6693);
    margin: 30px auto 40px;
  }

  .portfolio:nth-child(even) .port-image { text-align: left; }

  .portfolio:nth-child(even) .port-image .cycle-pager {
    margin: 0 0 0 5%;
    text-align: right;
  }
}

@media only screen and (max-width: 768px) {
  /* Tablet */
  .home-products .text { right: 2%; }

  #footer-menu LI { padding: 0 1.89em; }
  #footer-menu LI:nth-of-type(5) { margin-top: 1em; }
  #footer-menu LI:nth-of-type(5):before { content: ""; }

  #footer SPAN:last-of-type { display: block; opacity: 0; }
  
  .employment .position H3 { width: 100%; }
  .employment .position .links { position: static; width: 100%; margin-top: 1.25em; text-align: left; }
  .employment .position .button { min-width: 270px; font-size: 14px; }
}

@media only screen and (max-width: 700px) {
  #footer-menu LI { padding: 0 2.2em; }
  #footer-menu LI:nth-of-type(4):before { content: ""; }
  #footer-menu LI:nth-of-type(5):before { content: "/"; }
}

@media only screen and (max-width: 600px) {
  /* Small tablet */
  /*#home-banner:before { padding-top: 75%; }*/
  #home-banner .site-width { font-size: 2.5vw; }
  #home-banner .site-width .left { width: 100%; }
  #home-banner H1 { font-size: 460%; }

  #home-about { font-size: 40px; padding-bottom: 68vw; }
  #home-about .site-width .text { width: 100%; }
  #home-about .image { margin-top: 7vw; top: 100%; right: 4%; width: 94%; }

  .home-products .slides { width: 96%; margin: 0 auto 72%; }

  .home-products .text {
    top: auto;
    right: auto;
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 8.7vw;
    width: 55%;
  }

  .home-products .text A:link,
  .home-products .text A:visited {
    font-size: 27%;
  }
  
  #testimonials { font-size: 24px; }
  #testimonials .cycle-slide { width: 90%; }

  #footer-images > DIV { float: none; width: 100%; }
  
  #footer SPAN { display: block; opacity: 0; }
  
  .page-header .site-width { min-height: 0; }
  .page-header .text { width: 100%; }

  .page-header .image {
    position: relative;
    top: 3.8em;
    right: 2%;
    width: 104%;
    height: auto;
  }

  .page-header.noimage .image {
    position: absolute;
    top: 0;
    right: 0;
  }

  .page-header .image:after {
    content: "";
    display: block;
    padding-top: 62%;
  }

  .page-header.noimage .image:after { padding-top: 0; }

  .page-header.decorative-header .image:after { padding-top: 0; }

  .products .left,
  .products .right {
    float: none;
    width: 100%;
  }

  .products .left { margin-bottom: 1em; }

  .products IMG { margin: 1em 0; }

  .company .left,
  .company .right {
    float: none;
    width: 100%;
  }

  .company .right HR {
    display: none;
  }

  .company .leadership {
    float: left;
    width: 60%;
  }

  .company .locations {
    float: right;
    width: 40%;
  }
  
  .order H2 { font-size: 8vw; margin: 0 0 5vw 7vw; }
  .order H3 { font-size: 12vw; margin-bottom: 0.75em; }

  .order .left,
  .order .right {
    float: none;
    width: 100%;
  }

  .order .right {
    width: 96%;
    margin: 0 auto 3em;
  }

  .order .button { margin-top: 1em; }

  .order LABEL { font-size: 4.2vw; }

  #contact { padding: 75px 0; }

  #contact #name,
  #contact #email,
  #contact #company,
  #contact #phone {
    float: none;
    width: 100%;
    margin-bottom: 1.5em;
  }

  .radio { text-align: center; padding-left: 0; }

  .decorative > DIV { width: 100%; margin-right: 0; }

  .blog-index .blog-index-posts .blog-index-post { width: 100%; }

  .blog-single-post { flex-direction: column-reverse; }
  .blog-single-sidebar, .blog-single-text { width: 100%; }

  #footer-menu LI { font-size: 18px; padding: 0 2em; }
  #footer-menu LI:nth-of-type(3) { margin-top: 1em; }
  #footer-menu LI:nth-of-type(3):before, #footer-menu LI:nth-of-type(5):before { content: ""; }
  #footer-menu LI:nth-of-type(4):before { content: "/"; }
  
  .employment .position .links { max-width: 540px; }
  .employment .position .button { margin: 1em 0 0; }
  .employment .position .button:first-of-type { margin: 0; }
}

@media only screen and (max-width: 480px) {
  /* Phone */
  #show-menu:checked + #menu-toggle + #menu {
    top: 0;
    height: 100vh;
  }

  #menu UL {
    position: absolute;
    right: auto;
    transform: translateY(-50%);
    width: 100%;
  }

  #menu UL LI { padding: 1em 0; }

  /*#home-banner:before { padding-top: 100%; }*/
  #home-banner .site-width { font-size: 4vw; }
  #home-banner H1 { font-size: 285%; }

  .company .right HR {
    display: block;
  }

  .company .leadership,
  .company .locations {
    float: none;
    width: 100%;
  }

  .radio SPAN { display: block; }
  .radio LABEL:first-of-type { margin-left: 0; }

  .portfolio .port-title,
  .portfolio:nth-child(even) .port-title {
    margin-top: 13vw;
    background: linear-gradient(to right, #FDC116, #FDC116 82%, transparent 82%);
    padding: 3vw 0 5.4vw;
  }

  .portfolio .port-title:after { width: 78%; }

  .portfolio .port-title H3 { font-size: 7.8vw; }
  .portfolio .port-title H4 { font-size: 1.7vw; }

  .portfolio .port-text { margin-top: 10vw; }

  .portfolio .port-text:before { font-size: 70px; top: -20vw; }

  .employment .footer { overflow-wrap: break-word; word-wrap: break-word; }
}

@media only screen and (max-width: 320px) {
  /* Small Phone */
  #header-spacer { height: 88px; }

  #logo { padding: 16px 15px 12px 2%; }
  #logo IMG { height: 55px; }

  #footer-menu LI { padding: 0 1.5em; }
}